[submodule "server/external/json"]
	path = server/external/json
	url = https://github.com/nlohmann/json.git
[submodule "server/external/mailio"]
	path = server/external/mailio
	url = https://github.com/karastojko/mailio.git
