[submodule "server/external/json"]
	path = server/external/json
	url = https://github.com/nlohmann/json.git
[submodule "server/external/SQLiteCpp"]
	path = server/external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
