:root{
    --main-color: #9c27b0;
    --transparent-color: #9c27b099;
    --text-color:#777;
    --section-padding: 100px;
}
/* START GLOPAL RULES */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background: #000;
    background-size: 300vh;
    background-repeat: no-repeat;
}
#mainCoantiner
{
background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
background-color: #181828;
height:100vh;
width:100%;
padding-bottom: 50px;
}

/*  ################################   START most important thing in this file   ################################  */
.starsec{
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    -webkit-animation: animStar 150s linear infinite;
    animation: animStar 150s linear infinite;
    z-index: 2;
}

.starthird
{
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    -webkit-animation: animStar 10s linear infinite;
    z-index: 2;
    animation: animStar 10s linear infinite;
}

.starfourth
{
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    -webkit-animation: animStar 50s linear infinite;
    z-index: 2;
    animation: animStar 50s linear infinite;
}

.starfifth
{
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    -webkit-animation: animStar 80s linear infinite;
    z-index: 2;
    animation: animStar 80s linear infinite;
}
@-webkit-keyframes animStar
{
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-2000px);
    }
}

@keyframes animStar
{
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-2000px);
    }
}
/*  ################################   END most important thing in this file   ################################  */


::-moz-selection {
    background: #c4d0b6;
    color: #4CAF50;
}
::selection {
    background: #c4d0b6;
    color: #4CAF50;
}
/* Small )*/
@media
(min-width: 576px) {
    .container{width: 550px;
} }

/* Medium )*/
@media
(min-width: 768px) { 
    .container{width: 750px;
} }

/* Large )*/
@media
(min-width: 992px) { 
    .container{width: 970px;
} }

/* X-Large )*/
@media
(min-width: 1200px) { 
    .container{
    width: 1170px;
} }

/* XX-Large)*/
@media
(min-width: 1400px) {
    .container{width:1200px;
} }
ul{
    list-style: none;
}
/* END GLOPAL RULES */
/* START HEADER */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
}
header .container::after{
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}
header .logo {
    height: 40px;
    transition: .6s ease-out;
    color: var(--main-color);
}
header .logo.active,
header .logo:hover{
    color: var(--transparent-color);
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

}
@media(min-width: 768px) {
    header nav #toggle-menu{
        display: none;
    }
}
header nav ul {
    display: flex;
} 
@media(max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    header nav ul li a {
        padding: 15px !important;
    }
    header nav i {
        cursor: pointer;
    }
}
header nav #toggle-menu{
    color: white;
    font-size: 22px;
}

header nav ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    -webkit-text-decoration:none ;
    text-decoration:none ;
    font-size: 14px;
    transition: .3s;
    z-index: 3;
    position: relative;
}
header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
    align-self: center;
}
header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform:translateY(-50%) ;
    right: 0;
    cursor: pointer;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 3px 50px rgb(48, 1, 129);
    transition: .3s; 
    z-index: 5;
}
#scrollTopBtn::after{
    content: '';
    position: absolute;
    bottom: -10%;
    left:50%;
    transform:translatex(-50%) ;
    width: 120%;
    height: 110%;
    border: black;
    border-width: 0 3px 4px 3px;
    border-style: solid;
    border-radius: 50%;
}
#scrollTopBtn:hover{
    transform: scale(1.2) ;
}
#scrollTopBtn:hover i{
    position: relative;
    transform: scale(1.1) ;
    bottom: 6px;
}
/* END  HEADER*/

/* Apply basic styling to the wraper */
.wraper {
    max-width: 400px;
    padding: 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.286);
    border-radius: 15px;
}
/* Apply styles to the form elements inside the wrapper */
.wraper form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.wraper h2 {
    font-size: 24px;
    margin-bottom: 35px;
    position: relative;
    left: 100px;
    color: #da00ff;
    -webkit-user-select: none;
    -moz-user-select:none ;
    -ms-user-select:none ;
    user-select: none;
}

.wraper input[type="text"],
.wraper input[type="email"],
.wraper input[type="password"],
.wraper button,
.wraper span {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.245);
    border: none;
    transition: .5s;
    width: 270px;
    color: #bcb9b9;
}
@media(max-width:684px){
    .wraper input[type="text"],
    .wraper input[type="email"],
    .wraper input[type="password"],
    .wraper button,
    .wraper span {
        margin-bottom: 10px;
    }
}
/* Style the checkbox */
#invalidCheck3 {
    display: none;
}

/* Style the custom checkbox */
#invalidCheck3 + .form-check-label::before {
    content: "\f058";
    font-family: "Font Awesome 6 Free"; /* Font family for Font Awesome */
    margin-right: 10px;
    cursor: pointer;
}

/* Change the color of the custom checkbox when checked */
#invalidCheck3:checked + .form-check-label::before {
    content: "\f058";
    font-family: "Font Awesome 6 Free"; /* Font family for Font Awesome */
    background-color: var(--main-color);
    border-radius: 50%;
}
.wraper input::-webkit-input-placeholder{
    color: #da00ff;
}
.wraper input::-moz-placeholder{
    color: #da00ff;
}
.wraper input:-ms-input-placeholder{
    color: #da00ff;
}
.wraper input::-ms-input-placeholder{
    color: #da00ff;
}
.wraper input::-webkit-input-placeholder{
    color: #da00ff75;
}
.wraper input::placeholder{
    color: #da00ff75;
}
.wraper input:hover ,.wraper input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 6px var(--main-color);
}
.wraper input:focus{
    box-shadow: 0 0 15px var(--main-color);
}

.wraper button {
    background-color: var(--main-color);
    color: #ffffff99;
    cursor: pointer;
    border: none;
    transition: .5s;
    letter-spacing: 1px;
}

.wraper button:hover {
    background-color: var(--transparent-color);
    letter-spacing: 2px;
}
.wraper p{
    color: var(--text-color);
}
.wraper span {
    text-decoration: none;
    color: var(--main-color);
    border: none;
    background: transparent;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: .5s;
}
@media(max-width:380px){
    .wraper {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(0, 0, 0, 0.286);
        border-radius: 15px;
    }
}
.wraper span:hover{
    color: #9b27b0af;
}

/* Style the image preview inside the wrapper */
.wraper #photo-preview {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    left: 88px;
}
/* style.css */

.verification h2{
    position: relative;
    left: 21%;
}
.verification button{
    position: relative;
    left: 9.7%;
}
.verification p{
    position: relative;
    left: 19%;
    font-size: larger;
    color: #4CAF50;
}
.verification p span{
    position: relative;
    left: 18%;
}
.input-area {
	width: 40px !important;
	border: none;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	margin: 0 10px;
	text-align: center;
	font-size: 36px;
    position: relative;
    left: 12%;
}

.input-area:focus {
	border-bottom: 3px solid orange;
	outline: none;
}









.hallo {
    max-width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000000d9;
    border-radius: 15px;
}

.hallo .container {
    max-width: 300px;
    display: flex;
    justify-content: center;
}

.hallo .card {
    border-radius: 15px;
}


.hallo .user-img img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 27%;
}
@media (max-width: 579px) {
    .hallo .user-img img {
        left: 23%;
    }
    .hallo span{
        display: none;
    }
}
.hallo .name {
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    left: 27%;
    color: var(--text-color);
}

.hallo .mail {
    margin-bottom: 15px;
    color: var(--text-color);
}

.hallo .mail a {
    text-decoration: none;
    color: var(--main-color);
}
.hallo .mail a:hover {
    color: #9c65a5;
}

.hallo .icons {
    margin-bottom: 15px;
    position: relative;
    left: 29%;
}

.hallo .iBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hallo .iBtn i {
    font-size: 1.5rem;
    color: var(--transparent-color);
    transition: color 0.3s;
}

.hallo .iBtn i:hover {
    color: #9c65a5;
}

.hallo .startBtn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: 19%;
}

.hallo .startBtn:hover {
    background-color: var(--transparent-color);
}
